@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400&display=swap');

/* reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  /* height: 100vh; */
  /* height: 1000px; */
}

#main {
  /* position: relative; */
}

#header {
  height: 46px;
  background-color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#nav {
  display: inline-block;
}

#nav, .sub-nav {
  list-style-type: none;
}

#nav > li {
  display: inline-block;
}

#nav li {
  position: relative;
}

#nav > li > a {
  color: white;
  text-transform: uppercase;
}

#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: block;
}

#nav > li:hover .sub-nav {
  display: block;
}

#nav .sub-nav li:hover a,
#nav > li:hover > a {
  background-color: #ccc;
  color: black;
  /* transition: 0.5s; */
}

#nav .sub-nav {
  display: none;
  top: 100%;
  left: 0;
  min-width: 160px;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .sub-nav a {
  color: black;
  line-height: 38px;
}

#nav .nav-arrow-down {
  font-size: 14px;
}

#header .search-button {
  float: right;
  padding: 0 21px; 
}

#header .search-button:hover {
  background-color: red;
  cursor: pointer;
}

#header .search-icon {
  line-height: 46px;
  color: #fff;
  font-size: 20px;
}

#slider {
  position: relative;
  margin-top: 46px;
  padding-top: 50%;
  background: url('/assets/img/chicago.jpg') top center / cover no-repeat;
}

#slider .text-content {
  width: 100%;
  position: absolute;
  bottom: 47px;
  color: white;
  text-align: center;

}

#slider .text-heading {
  font-weight: 400;
  font-size: 24px;
}
#slider .text-description {
  font-size: 15px;
  margin-top: 25px;
  font-weight: 700;
}

#content {
  /* position: absolute; */
}

#content .content-section {
  width: 800px;
  padding: 64px 0;
  margin-left: auto;
  margin-right: auto;
}

#content .section-heading {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 5px;
}

#content .section-sub-heading {
  font-size: 14px;
  text-align: center;
  margin-top: 25px;
  font-style: italic;
  opacity: 0.6;
}

#content .about-text {
  margin-top: 25px;
  font-size: 14px;
  text-align: justify;
}


#footer {
  /* position: absolute; */
}
